<?xml version="1.0" encoding="utf-8" ?>
<configuration >
	<appSettings >
    <!-- Параметр автозапуска программы true = Автозапуск false = Интерфейс -->
    <add key = "Autorun" value = "false" />
    <!-- При Autorun=true скачивать данные с CDDIS -->
    <add key = "AutorunCDDIS" value = "true" />
    <!-- При Autorun=true скачивать данные с IERS -->
    <add key = "AutorunIERS" value = "false" />
    <!-- Путь к файлу с данными -->
    <add key = "CDDISSavePath" value = "C:\TSNIIMASH" />
    <!-- Имя файла с данными -->
    <add key = "CDDISFileName" value = "mark3.out" />
    <!-- Путь к файлу с данными -->
    <add key = "IERSSavePath" value = "C:\TSNIIMASH" />
    <!-- Имя файла с данными -->
    <add key = "IERSFileName" value = "iers.out" />
	</appSettings >
</configuration >